IMAGE_SUFFIX = -rescue

# trying to detect modules and features for root and keyboard devices
AUTODETECT = all

MODULES_ADD += usbcore ehci-hcd

PUT_FILES += \
	/bin/dmesg \
	/bin/openvt \
	/sbin/chroot \
	/sbin/badblocks \
	/sbin/fsck.*
