[submodule "external/busybox/upstream"]
	path = external/busybox/upstream
	url = https://git.busybox.net/busybox
[submodule "external/libshell/upstream"]
	path = external/libshell/upstream
	url = https://github.com/legionus/libshell.git
