# [test]
# direct_boot = true
# host_services = ["iscsi"]
# qemu_timeout = "10m"
# boot_cmdline = [
#     "rdacct=1",
#     "rdlog=console",
#     "rd-debug-udev=1",
#     "quiet",
#     "panic=0",
#     "ip=dhcp",
#     "root=LABEL=SYSIMAGE",
#     "ISCSI_TARGET_NAME=iqn.2026-04.test.make-initrd:sysimage",
#     "ISCSI_TARGET_IP=10.0.2.2",
#     "ISCSI_TARGET_PORT=3260",
#     "init=/init.once",
# ]
