# param KICKSTART_DISKS=3
# param BOOT_DISKS=2
# param BOOT_CMDLINE="$BOOT_CMDLINE rdacct=1 rdlog=console rd-debug-udev=1 quiet panic=0 root=LABEL=ROOT"

ignoredisk --drives=LABEL=SYSIMAGE
clearpart --all --initlabel --disklabel=mbr

part /boot --size=100% --fstype=ext4 --label=BOOT

part raid.01 --size=100%
part raid.02 --size=100%

raid / --level=RAID1 --fstype=ext4 --label=ROOT --device=md0 raid.01 raid.02

liveimg --url=dir:///sysimage/

shutdown
