# param KICKSTART_SDCARDS=1
# param BOOT_SDCARDS=1
# param BOOT_CMDLINE="$BOOT_CMDLINE rdacct=1 rdlog=console rd-debug-udev=1 quiet panic=0 root=LABEL=ROOT"

ignoredisk --drives=LABEL=SYSIMAGE
clearpart --all --initlabel --disklabel=mbr

part / --size=100% --fstype=f2fs --label=ROOT

liveimg --url=dir:///sysimage/

shutdown
