# [test]
# direct_boot = true
# host_services = ["sshfsroot"]
# qemu_timeout = "10m"
# boot_cmdline = [
#     "rdacct=1",
#     "rdlog=console",
#     "rd-debug-udev=1",
#     "quiet",
#     "panic=0",
#     "ip=dhcp",
#     "root=/dev/sshfs",
#     "sshfsroot=sftp@10.0.2.2:",
#     "sshfsopts=port=2222",
#     "init=/init.once",
# ]
