# param KICKSTART_DISKS=2
# param BOOT_DISKS=2
# param BOOT_CMDLINE="$BOOT_CMDLINE rdacct=1 rdlog=console rd-debug-udev=1 quiet panic=0 root=LABEL=ROOT"

ignoredisk --drives=LABEL=SYSIMAGE
clearpart --all --initlabel --disklabel=mbr

%pre --erroronfail
	set -x
	mkdir /lukskey
	pwgen -s 64 1 | tr -d '\n' >/lukskey/secret
%end

part /boot --size=100% --fstype=ext4 --label=BOOT
part /     --size=100% --fstype=ext4 --label=ROOT --encrypted --passfile=/lukskey/secret

liveimg --url=dir:///sysimage/

shutdown

%post --erroronfail --nochroot
	set -x

	mkdir -p -- /mnt/sysimage/etc/keys

	mv -f -- /lukskey/secret  /mnt/sysimage/etc/keys/luks.key
	echo /etc/keys/luks.key > /mnt/sysimage/etc/luks.keys

	tee /mnt/sysimage/etc/initrd.mk.addon <<-EOF
	PUT_FILES += /etc/keys/luks.key
	PUT_FILES += /etc/luks.keys
	EOF
%end
