# [test]
# direct_boot = true
# host_services = ["nvmf"]
# qemu_timeout = "10m"
# boot_cmdline = [
#     "rdacct=1",
#     "rdlog=console",
#     "rd-debug-udev=1",
#     "quiet",
#     "panic=0",
#     "ip=dhcp",
#     "root=LABEL=SYSIMAGE",
#     "nvmf.hostnqn=nqn.2026-04.test.make-initrd:host",
#     "nvmf.hostid=11111111-2222-4333-8444-555555555555",
#     "nvmf.connect=tcp,10.0.2.2,nqn.2026-04.test.make-initrd:sysimage,4420",
#     "init=/init.once",
# ]
