%post --erroronfail
	set -xefu

	mkdir -p /proc
	mount -t proc proc /proc

	mkdir -p /sys
	mount -t sysfs sysfs /sys

	mkdir -p /dev
	mount -t devtmpfs devfs /dev

	blkid
	findmnt

	echo "ENABLE=no" > /etc/sysconfig/framebuffer

	tee /etc/initrd.mk <<-EOF
	AUTODETECT = all
	MODULES_PRELOAD += virtio-blk virtio-scsi
	`[ ! -f /etc/initrd.mk.addon ] || cat /etc/initrd.mk.addon`
	EOF

	kver="$(readlink -ev /boot/vmlinuz)"
	kver="${kver##*/vmlinuz-}"

	env -i PATH="$PATH" \
	/srv/.build/dest/usr/sbin/make-initrd -k "$kver"

	tee /sbin/init.once <<-EOF
	#!/bin/sh
	echo; echo;
	echo 'IT WORKS!'
	echo; echo;
	exec reboot
	EOF
	chmod +x /sbin/init.once

	tee -a /etc/inittab <<-EOF
	z0:3:once:/sbin/init.once
	EOF

	tee -a /etc/sysconfig/grub2 <<-EOF
	 GRUB_CMDLINE_LINUX_DEFAULT='rdlog=console console=ttyS0,115200n8 panic=3 fastboot @CMDLINE@'
	 GRUB_TIMEOUT=3
	 GRUB_TERMINAL_INPUT='serial console'
	 GRUB_TERMINAL_OUTPUT='serial console'
	 GRUB_SERIAL_COMMAND='serial --unit=0 --speed=115200'
	EOF

	bootdev=$(findmnt -k -no SOURCE -T /boot)
	syspath="$(readlink -ev "/sys/class/block/${bootdev#/dev/}")"
	syspath="${syspath%/*}/uevent"
	bootdev="$(sed -n -e 's,^DEVNAME=,/dev/,p' "$syspath")"

	grub-install "$bootdev"
	grub-mkconfig -o /boot/grub/grub.cfg

	umount /proc /sys /dev
%end
