SUBSYSTEM=="block", ACTION!="remove", ENV{ID_FS_TYPE}=="btrfs", RUN+="/bin/udev-run btrfs device scan $env{DEVNAME}"
SUBSYSTEM=="block", ACTION!="remove", ENV{ID_FS_TYPE}=="btrfs", RUN+="/lib/uevent/filters/btrfs-member"
