name: "CI"
on:
  push:
    branches:
      - "master"
      - "for-master"
      - "patchset/**"
    paths-ignore:
      - "**.md"
      - "**.png"
  schedule:
    - cron: "0 0 * * MON"
jobs:
  verify:
    uses: ./.github/workflows/verify.yml
  altlinux:
    needs:
      - verify
    uses: ./.github/workflows/testcases.yml
    with:
      vendor: altlinux
      exclude: '[{"testcase": "zfs-partition"}, {"testcase": "initramfs-on-erofs"}]'
  fedora:
    needs:
      - verify
    uses: ./.github/workflows/testcases.yml
    with:
      vendor: fedora
      exclude: '[{"testcase": "zfs-partition"},{"testcase": "lvm+luks"}]'
  ubuntu:
    needs:
      - verify
    uses: ./.github/workflows/testcases.yml
    with:
      vendor: ubuntu
  gentoo:
    needs:
      - verify
    uses: ./.github/workflows/testcases.yml
    with:
      vendor: gentoo
      exclude: '[{"testcase": "zfs-partition"}]'
  gentoo_musl:
    needs:
      - verify
    uses: ./.github/workflows/testcases.yml
    with:
      vendor: gentoo_musl
      exclude: '[{"testcase": "zfs-partition"}, {"testcase": "initramfs-on-erofs"}, {"testcase": "initramfs-on-squashfs"}]'
  metrics:
    needs:
      - altlinux
      - fedora
      - ubuntu
      - gentoo
      - gentoo_musl
    runs-on: ubuntu-latest
    if: success() || failure()
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          path: artifacts

      - run: testing/generate-metrics artifacts > "$GITHUB_STEP_SUMMARY"
